:root {
  --MatLight: #b4d4d4;
  --MatBlue: #649494;
  --MatOrange: #d46c64;
  --MatRed: #b3243c;
  --MatDark: #646464;
}

@font-face {
  font-family: "Codec-Cold";
  src: local("MyFont"), url(./fonts/Codec-Pro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Codec-Pro-Italic";
  src: local("MyFont"), url(./fonts/Codec-Pro-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Codec-Cold-Bold";
  src: local("MyFont"), url(./fonts/Codec-Pro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Codec-Cold-Extra-Bold";
  src: local("MyFont"), url(./fonts/Codec-Pro-Extrabold.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Codec-Cold", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
body,
html,
.App {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

input {
  outline: none !important;
}

a {
  @apply text-MatBlue underline font-extrabold;
}

#edit-sidebar > .pro-sidebar-inner {
  @apply bg-zinc-700;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  z-index: 3 !important;
}

.custom-checkbox {
  @apply appearance-none h-4 w-4 border border-gray-800 rounded-sm text-green-300 bg-gray-200 hover:bg-gray-500 checked:bg-green-600 checked:border-cyan-600  transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

.red-button {
  @apply flex text-white text-xs p-2 bg-MatRed rounded w-32 justify-around items-center;
}

.red-inverse-button {
  @apply flex text-MatRed border-[1px] border-MatRed text-xs p-2 rounded w-32 justify-around items-center;
}

.blue-button {
  @apply flex  text-xs p-2 no-underline rounded-full w-[80%]
   max-w-lg justify-around items-center transition duration-300
  text-white bg-MatBlue  filter
  hover:brightness-90
  disabled:filter-none disabled:pointer-events-none disabled:bg-MatLightTeal;
}

.grey-button {
  @apply mx-auto flex rounded-full w-[80%] max-w-lg justify-around 
  items-center text-xs p-2 no-underline transition duration-300
  text-MatDarkGrey bg-MatLightGrey enabled:filter
  hover:brightness-90
  disabled:bg-MatLightGrey disabled:text-MatGrey;
}

.blue-squircle-button {
  @apply mx-auto flex  text-xs p-2 no-underline   rounded-lg w-full max-w-lg justify-around items-center
 text-white bg-MatBlue enabled:filter
 disabled:filter-none disabled:pointer-events-none disabled:bg-MatLightTeal
  hover:brightness-90;
}

.white-button {
  @apply h-6 mx-auto flex text-MatBlue text-xs p-2 no-underline bg-white hover:bg-MatBlue hover:text-white border-[1px] border-MatBlue disabled:bg-slate-400 rounded-full w-[80%] max-w-lg justify-around items-center;
}

.custom-input {
  @apply focus:shadow-none focus:ring-0 border-2 h-10
  border-gray-200 focus:border-MatBlue rounded-lg;
}

.custom-scrollbar {
  @apply scrollbar  rounded scrollbar-track-white hover:scrollbar-thumb-MatLightTeal scrollbar-thumb-MatLightTeal;
}

.custom-hover-filter:hover {
  filter: invert(51%) sepia(39%) saturate(300%) hue-rotate(124deg)
    brightness(98%) contrast(90%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-MatLightTeal rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-slate-200;
}

.dashboard-menu-item {
  @apply w-1/2 min-w-[300px] min-h-[250px] max-w-md max-h-96 h-1/2;
}

.dashboard-menu-item:nth-child(odd) {
  @apply pb-5 pt-5 pr-5;
}

.dashboard-menu-item:nth-child(even) {
  @apply pb-5 pt-5 sm:pl-5 mr-auto;
}

.dashboard-menu-inner-item {
  @apply flex 
  flex-col bg-white rounded-lg p-5 border-2 border-white
  h-full justify-around items-center  min-h-[250px]
  hover:shadow-xl hover:border-MatTeal duration-300;
}

.data-filter-menu-item {
  @apply flex justify-between text-MatGrey xl:text-base text-sm;
}
