:root {
  --MatLight: #b4d4d4;
  --MatBlue: #649494;
  --MatOrange: #d46c64;
  --MatRed: #b3243c;
  --MatDark: #646464;
}

@font-face {
  font-family: "Codec-Cold";
  src: local("MyFont"), url(./Fonts/codec-pro.regular.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Codec-Cold", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
body,
html,
.App {
  min-height: 100vh;
  min-width: 100vw;
}

a {
  @apply text-MatBlue underline font-extrabold;
}

#edit-sidebar > .pro-sidebar-inner {
  @apply bg-zinc-700;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  z-index: 3 !important;
}

.custom-checkbox {
  @apply appearance-none h-4 w-4 border border-gray-800 rounded-sm text-green-300 bg-gray-200 hover:bg-gray-500 checked:bg-green-600 checked:border-cyan-600  transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

.red-button {
  @apply flex text-white text-xs p-2 bg-MatRed rounded w-32 justify-around items-center;
}

.red-inverse-button {
    @apply flex text-MatRed border-[1px] border-MatRed text-xs p-2 rounded w-32 justify-around items-center;
  }

.blue-button {
  @apply flex text-white text-xs p-2 bg-MatBlue disabled:bg-slate-400 rounded w-32 justify-around items-center;
}

.blue-tab {
  @apply h-2 w-20 border-t-4 rounded border-MatBlue transition-all;
}

#edit-sidebar .pro-inner-item {
  padding: 0 !important;
}

input {
  border: 0;
}

ul > .pro-menu-item:nth-of-type(1) .pro-inner-item .pro-icon-wrapper {
  background-color: var(--MatBlue)!important;
  color: white;
}

ul > .pro-menu-item:nth-of-type(2) .pro-inner-item .pro-icon-wrapper {
  background-color: var(--MatOrange)!important;
  color: white;
}

ul > .pro-menu-item:nth-of-type(3) .pro-inner-item .pro-icon-wrapper {
  background-color: var(--MatLight)!important;
  color: var(--MatDark);
}

ul > .pro-menu-item:nth-of-type(4) .pro-inner-item .pro-icon-wrapper {
  background-color: var(--MatRed)!important;
  color: white;
}
